@import url("./header.css");
@import url("./introduce.css");
@import url("./our-services.css");
@import url("./information.css");
@import url("./rating.css");
@import url("./footer.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #DEEEFE;
    --color-header-nav: #1F1534;
    --color-title-sky-blue: #3C567B;
    --color-title-slate-blue: #462E6A;
    --color-header-hover: #2E4E92;
    --color-button: #458FF6;
    --color-text-content: #7D7987;
    --color-white: #FFFFFF;
    --color-shadow: #f5f6fb;
    --color-black: #000000;
    --color-background-linear-first: #6888C8;
    --color-background-linear-last: #5A98F2;
    --color-blue: #458FF6;
    --spacing: 34px;
    --columns: 3;
}

body {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

::selection {
    background: var(--color-primary);
}

.container {
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background--primary {
    background: linear-gradient(208.18deg, var(--color-background-linear-first) 9.05%, var(--color-background-linear-last) 76.74%);
}
/* logo */
.saviour-care-logo {
    display: flex;
    align-items: center;
}

.saviour-care-logo__ellipse{
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.saviour-care-logo__name {
    font-size: 24px;
    text-transform: capitalize;
    margin-left: 10px;
}

/* button */
.btn {
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.btn--primary {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: solid 2px var(--color-button) ;
    background: var(--color-white);
    font-size: 18px;
    color: var(--color-button);
}
