.btn {
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn--primary {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: solid 2px var(--color-button) ;
    background: var(--color-white);
    font-size: 18px;
    color: var(--color-button);
}

.btn-background-blue {
    width: 200px;
    height: 70px;
    color: var(--color-white);
    background: var(--color-button);
    border: none;
    border-radius: 55px;
    font-size: 19px;
}