.footer-container {
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(183.41deg, #6888C8 -8.57%, #5A98F2 82.96%);
}

.footer {
    display: flex;
    max-width: 1285px;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 90px;
    justify-content: space-between;
    position: relative;
}

.saviour-care-infor {
    max-width: 400px;
    color: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.card-top .ellipse {
    background: var(--color-footer);
    border-radius: 50%;
}

.card-top .name-logo {
    color: var(--color-footer);
}

.card-top p {
    font-size: 18px;
    font-family: 'Roboto';
    margin-top: 20px;
    line-height: 27px;
}

.saviour-care-infor p {
    font-weight: 200;
}

.item-footer {
    display: flex;
    flex-direction: column;
}

.item-footer h5 {
    font-size: 20px;
    margin-bottom: 30px;
    color: var(--color-footer);
}

.item-footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.item-footer ul a {
    font-weight: 300;
    color: var(--color-footer);
}

.item-footer ul li:hover {
    animation: move-right-10 0.2s linear;
    transform: translateX(10px);
}

.footer-container > img {
    position: absolute;
}

.footer-container .element-1 {
    left: 5px;
    bottom: 5px;
}

.footer .element-2 {
    position: absolute;
    right: 0px;
    top: -80px;
    z-index: -1;
}

.btn-on-top {
    position: fixed;
    bottom: 500px;
    right: 150px;
    font-size: 40px;
    color: rgba(103, 195, 243, 0.65);
    background: none;
    border: none;
}

@keyframes move-right-10 {
    0% { 
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}