.footer__backgound {
    background: linear-gradient(208.18deg, var(--color-background-linear-first) 9.05%, var(--color-background-linear-last) 76.74%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    max-width: 1285px;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 90px;
    position: relative;
}

.footer__content-trademark {
    max-width: 400px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.saviour-care-logo__ellipse--background-white {
    background:var(--color-white);
}

.saviour-care-logo__name--footer-theme {
    color: var(--color-white);
}

.trademark-top__describing {
    font-size: 18px;
    font-family: 'Roboto';
    margin-top: 20px;
    line-height: 27px;
}

.trademark-bottom {
    font-weight: 200;
}

.footer-category {
    display: flex;
    flex-direction: column;
}

.footer-category__title {
    font-size: 20px;
    margin-bottom: 30px;
    color: var(--color-white);
}

.footer-category__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.footer-category__items-item a{
    font-weight: 300;
    color: var(--color-white);
}

.footer-category__items-item:hover {
    animation: move-right-10 0.2s linear;
    transform: translateX(10px);
}

.footer-element-top {
    position: absolute;
    right: 0px;
    top: -70px;
    z-index: -1;
}

.footer-element-bottom {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.footer__btn-on-top {
    cursor: pointer;
    border: none;
    position: fixed;
    bottom: 500px;
    right: 150px;
    font-size: 40px;
    color: rgba(103, 195, 243, 0.65);
    background: none;
}
@keyframes move-right-10 {
    0% { 
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}