.header {
    height: 120px;
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
    right: 0;
    background: var(--color-white);
    
}

.header__content {
    max-width: 1230px;
    width: 100%;
}

    /* logo */
.saviour-care-logo__ellipse--background-primary {
    background: var(--color-primary);
}

.saviour-care-logo__name--header-theme {
    color: var(--color-title-slate-blue);
}

    /* nav */
.header__nav {
    margin-right: -20px;
}

.header__nav-list-items {
    height: 100%;;
    display: flex;
    align-items: center;
}

.header__nav-item {
    color: var(--color-header-nav);
    font-weight: 700;
    margin: 0 20px;
    opacity: 0.5;
}

.header__nav-item {
    color: var(--color-content);
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__nav-item:hover {
    color: var(--color-header-hover);
    border-bottom: solid 2px var(--color-header-hover);
    opacity: 1;
}