.information__background {
    background-image: url("../assets/images/information/background-information.png");
    background-repeat: no-repeat;
    background-position: 100% 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.information__content {
    max-width: 1360px;
    width: 100%;
    padding-right: 100px;
}

.information-category {
    width: 50%;
    padding-left: 130px;
}

.information-category__title {
    font-size: 36px;
    color: var(--color-title-slate-blue);
}

.information-category__title::after {
    content: "";
    width: 56px;
    height: 2px;
    display: block;
    background: var(--color-black);
    margin-top: 30px;
    margin-bottom: 30px;
}

.information-category__describing {
    font-size: 18px;
    color: var(--color-text-content);
    margin-bottom: 40px;
}

.download-icon {
    font-size: 15px;
    margin-left: 10px;
}

.mix-blend-mode--darken {
    mix-blend-mode: darken;
}

.information-element {
    position: absolute;
    right: 0;
    top: 550px;
}
