.introduce__content {
    max-width: 1400px;
    width: 100%;
    padding-top: 220px;
    padding-bottom: 100px;
}

.introduce__text-title {
    font-size: 48px;
    color: var(--color-title-sky-blue);
    margin-bottom: 40px;
}

.introduce__text-describing {
    font-size: 19px;
    color: #93C1F9;
    font-weight: 600;
    margin-bottom: 135px;
}