.container {
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background--primary {
    background: linear-gradient(208.18deg, var(--color-background-linear-first) 9.05%, var(--color-background-linear-last) 76.74%);
}


