.our-services-container {
    background-image: url("../assets/images/backgound-our-services.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: left;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
}

.our-services {
    max-width: 112rem;
    width: 100%;
    text-align: center;
}

.title-our-services {
    max-width: 95.2rem;
    padding: 0 5.5rem;
    margin: auto;
}

.title-our-services h2::after {
    content: "";
    width: 5.6rem;
    height: 2px;
    display: block;
    margin: auto;
    background: var(--color-heading-text);
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.title-our-services p {
    font-size: 1.9rem;
    color: #CCD2E9;
    font-weight: 600;
}

.items-services {
    --spacing: 3.4rem;
    --columns: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1*var(--spacing));
    margin-bottom: calc(-1*var(--spacing));
    margin-top: 8.6rem;
}

.items-services :first-child {
    box-shadow: none;
}
.card-services {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    background: var(--color-footer);
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    padding: 5rem 4rem;
    border-radius: 2rem;
    box-shadow: 1rem 5rem 4rem var(--color-shadow);
    display: flex;
    flex-direction: column;
}

.card-services .icon {
    height: 10rem;
    margin-bottom: 3rem;
}

.bottom .title {
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 2rem;
}

.bottom .content {
    color: var(--color-content);
}

.our-services .btn-learn-more {
    margin-top: 7rem;
}