.saviour-care-logo {
    display: flex;
    align-items: center;
    &__ellipse {
        width: 41px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &--background-primary {
            background: $color-primary;
        }
        &--background-white {
            background: $color-white;
        }
    }
    &__name {
        font-size: 24px;
        text-transform: capitalize;
        margin-left: 10px;
        &--header-theme {
            color: $color-title-slate-blue;
        } 
        &--footer-theme {
            color: $color-white;
        }   
    }
}