@mixin flex-center-x {
    display: flex;
    justify-content: center;
}

@mixin flex-center-y {
    display: flex;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-colums {
    display: flex;
    flex-direction: column;
}

@mixin content($max-width,$padding) {
    max-width: $max-width;
    width: 100%;
    padding: $padding;
}
