@media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
  .btn {
    &--secondary {
      max-height: 60px;
      width: 50%;
      font-size: 0.9em;
    }
    &--primary {
      width: 50%;
    }
  }
}

@media only screen and (max-width: $mobileMax) {
  .btn {
    &--secondary {
      max-height: 60px;
      width: 100%;
      font-size: 0.9em;
    }
    &--primary {
      width: 100%;
    }
  }
}
