@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .btn {
    &--secondary {
      max-height: 60px;
      width: 50%;
      font-size: 0.9em;
    }
    &--primary {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .btn {
    &--secondary {
      max-height: 60px;
      width: 100%;
      font-size: 0.9em;
    }
    &--primary {
      width: 100%;
    }
  }
}
