.header {
  @media only screen and (max-width: $mobileMax) {
    height: 60px;
    background-color: $color-background-header-mobile;
  }
  &__content {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      padding: 0 40px;
    }
    @media only screen and (max-width: $mobileMax) {
      padding: 0 20px;
    }
  }
  &__nav {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      margin-right: -10px;
      &-item {
        margin: 0 10px;
      }
    }
    @media only screen and (max-width: $mobileMax) {
      position: absolute;
      top: 60px;
      right: -70%;
      width: 70%;
      height: 100vh;
      margin: 0;
      background-color: $color-background-nav-mobile;
      transition: all 1s ease-in-out;
      &-list-items {
        margin-top: 20px;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  &__nav-show {
    @media only screen and (max-width: $mobileMax) {
      right: 0;
    }
  }
  &__menu {
    @media only screen and (max-width: $mobileMax) {
      display: block;
      button {
        width: 30px;
        height: 30px;
        background: none;
        outline: none;
        border: none;
      }
      i {
        font-size: 30px;
        color: $color-white;
      }
    }
  }
}
