.introduce {
  &__content {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      padding: 110px 20px 50px 20px;
    }
    @media only screen and (max-width: $mobileMax) {
      padding: 110px 0 50px 0;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 40px;
      grid-template-columns: auto;
    }
  }
  &__text {
    @media only screen and (max-width: $mobileMax) {
      grid-row-start: 2;
      grid-row-end: 3;
      text-align: center;
    }
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      grid-row-start: 2;
      grid-row-end: 3;
      text-align: center;
    }
  }
  &__text-title {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      margin-bottom: 20px;
      font-size: 1.8em;
    }
    @media only screen and (max-width: $mobileMax) {
      margin-bottom: 20px;
    }
  }
  &__text-describing {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      margin-bottom: 80px;
      font-size: 0.8em;
    }
    @media only screen and (max-width: $mobileMax) {
      margin-bottom: 50px;
    }
  }
}
