.saviour-care-logo {
  &__ellipse {
    @media only screen and (max-width: $mobileMax) {
      width: 31px;
      height: 31px;
    }
  }
  &__name {
    @media only screen and (max-width: $mobileMax) {
      display: none;
    }
  }
}
