@media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
  .our-services {
    &__content {
      padding: 60px 80px;
    }
    &__top {
      &-title {
        font-size: 1.8em;
      }
      &-describing {
        font-size: 0.8em;
      }
    }
    &__list-card {
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: $mobileMax) {
  .our-services {
    &__content {
      padding: 60px 20px;
    }
  }
}
