.our-services {
  &__content {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      padding: 60px 80px;
    }
    @media only screen and (max-width: $mobileMax) {
      padding: 60px 0;
    }
  }
  &__top {
    &-title {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 1.8em;
      }
    }
    &-describing {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 0.8em;
      }
    }
  }
  &__list-card {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      font-size: 0.8em;
    }
  }
}
