.rating {
  &__content {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      padding: 100px 40px 110px 40px;
    }
    @media only screen and (max-width: $mobileMax) {
      padding: 50px 0 50px 0;
    }
  }
  &__card {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      padding: 50px 100px;
    }
    @media only screen and (max-width: $mobileMax) {
      padding: 30px 30px;
    }
    &-content {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        margin-top: 60px;
      }
      @media only screen and (max-width: $mobileMax) {
        margin-top: 40px;
        grid-template-columns: 1fr;
      }
    }
    &-title {
      @media only screen and (max-width: $mobileMax) {
        font-size: 1.4em;
      }
    }
    &-describing {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 0.9em;
      }
      @media only screen and (max-width: $mobileMax) {
        font-size: 0.9em;
      }
    }
    &-person {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        justify-content: center;
        margin-bottom: 20px;
      }
      @media only screen and (max-width: $mobileMax) {
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    &-person-img {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        width: 100px;
        height: 100px;
      }
      @media only screen and (max-width: $mobileMax) {
        width: 80px;
        height: 80px;
      }
    }
    &-describing {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        text-align: center;
        padding: 0;
        line-height: 2;
      }
      @media only screen and (max-width: $mobileMax) {
        text-align: center;
        padding: 0;
        line-height: 1.5;
      }
    }
  }
  &__control {
    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      margin-top: 40px;
    }
    @media only screen and (max-width: $mobileMax) {
      margin-top: 20px;
    }
    &-directional {
      @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        display: none;
      }
      @media only screen and (max-width: $mobileMax) {
        display: none;
      }
    }
  }
}
