* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

html ::selection,
body ::selection {
  background: #deeefe;
}

.btn {
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn--on-top {
  cursor: pointer;
  border: none;
  position: fixed;
  bottom: 500px;
  right: 150px;
  font-size: 40px;
  color: rgba(103, 195, 243, 0.65);
  background: none;
}
.btn--primary {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: solid 2px #5279a9;
  background: #ffffff;
  font-size: 18px;
  color: #5279a9;
  letter-spacing: 1px;
}
.btn--secondary {
  width: 200px;
  height: 70px;
  border-radius: 55px;
  border: none;
  background: #5279a9;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
}

.saviour-care-logo {
  display: flex;
  align-items: center;
}
.saviour-care-logo__ellipse {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.saviour-care-logo__ellipse--background-primary {
  background: #deeefe;
}
.saviour-care-logo__ellipse--background-white {
  background: #ffffff;
}
.saviour-care-logo__ellipse img {
  max-width: 100%;
  height: auto;
}
.saviour-care-logo__name {
  font-size: 24px;
  text-transform: capitalize;
  margin-left: 10px;
}
.saviour-care-logo__name--header-theme {
  color: #462e6a;
}
.saviour-care-logo__name--footer-theme {
  color: #ffffff;
}

.header {
  height: 120px;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
}
.header__content {
  max-width: 1400px;
  width: 100%;
  padding: 0 85px 0 85px;
}
.header__nav {
  margin-right: -20px;
}
.header__nav-list-items {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__nav-item {
  color: #1f1534;
  font-weight: 700;
  margin: 0 20px;
  opacity: 0.7;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__nav-item:hover {
  color: #2e4e92;
  border-bottom: solid 2px #2e4e92;
  opacity: 1;
}

.footer__background {
  background: linear-gradient(208.18deg, #6888c8 9.05%, #5a98f2 76.74%);
  background-repeat: no-repeat;
  background-position: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  padding: 110px 60px 90px 60px;
  position: relative;
}
.footer__trademark {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  color: #ffffff;
  height: 200px;
}
.footer__trademark-describing {
  font-size: 18px;
  font-family: "Roboto";
  margin-top: 20px;
  line-height: 27px;
}
.footer__trademark-bottom {
  font-weight: 200;
}
.footer__category {
  display: flex;
  flex-direction: column;
}
.footer__category-title {
  font-size: 20px;
  margin-bottom: 30px;
  color: #ffffff;
}
.footer__category-items {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.footer__category-item {
  transition: all 200ms ease-out;
}
.footer__category-item a {
  font-weight: 300;
  color: #ffffff;
}
.footer__category-item:hover {
  transform: translateX(10px);
}
.footer__element-top {
  position: absolute;
  right: 0;
  top: -70px;
  z-index: -2;
}
.footer__element-bottom {
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: none;
}

.introduce__content {
  max-width: 1400px;
  width: 100%;
  padding: 220px 0 100px 0;
}
.introduce__img {
  width: 50%;
  padding-top: 35%;
  position: relative;
}
.introduce__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.introduce__text {
  width: 50%;
}
.introduce__text-title {
  font-size: 48px;
  color: #3c567b;
  margin-bottom: 40px;
}
.introduce__text-describing {
  font-size: 19px;
  color: #173457;
  font-weight: 700;
  margin-bottom: 135px;
}

.our-services {
  position: relative;
}
.our-services::before {
  content: "";
  background-image: url("./assets/images/our-services/backgound-our-services.webp");
  background-repeat: no-repeat;
  background-position: center left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.our-services__content {
  max-width: 1400px;
  width: 100%;
  padding: 100px 140px;
  text-align: center;
}
.our-services__top {
  max-width: 952px;
  padding: 0 55px;
  margin: auto;
}
.our-services__top-title {
  font-size: 45px;
  color: #462e6a;
}
.our-services__top-title::after {
  content: "";
  width: 56px;
  height: 2px;
  display: block;
  margin: auto;
  background: #000000;
  margin-top: 35px;
  margin-bottom: 35px;
}
.our-services__top-describing {
  font-size: 19px;
  color: #ccd2e9;
  font-weight: 600;
}
.our-services__list-card {
  display: flex;
  justify-content: center;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 34px;
  margin-top: 86px;
}
.our-services__card {
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  z-index: 2;
}
.our-services__card img {
  max-width: 100%;
}
.our-services__icon {
  height: 100px;
  margin-bottom: 30px;
}
.our-services__describing-title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 700;
}
.our-services__describing-content {
  color: #7d7987;
}
.our-services__btn {
  margin-top: 70px;
}
.our-services__element {
  position: absolute;
  right: -50px;
  top: 40%;
  z-index: 1;
}

.information {
  position: relative;
}
.information::before {
  content: "";
  background-image: url("./assets/images/information/background-information.webp");
  background-repeat: no-repeat;
  background-position: 100% 60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.information__content {
  max-width: 1400px;
  width: 100%;
  padding: 0 120px 0 20px;
}
.information__content img {
  height: auto;
  width: 50%;
}
.information__category {
  width: 50%;
  padding-left: 130px;
}
.information__category-title {
  font-size: 36px;
  color: #462e6a;
}
.information__category-title::after {
  content: "";
  width: 56px;
  height: 2px;
  display: block;
  background: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}
.information__category-describing {
  font-size: 18px;
  color: #7d7987;
  margin-bottom: 40px;
}
.information__category-btn i {
  font-size: 15px;
  margin-left: 10px;
}
.information__img-mobile-app {
  mix-blend-mode: darken;
}
.information__first-category {
  margin: 100px 0 200px 0;
}
.information__last-category {
  margin: 300px 0 135px 0;
}
.information-element {
  position: absolute;
  right: 0;
  top: 550px;
  z-index: none;
}

.rating__content {
  max-width: 1400px;
  width: 100%;
  padding: 135px 60px 150px 60px;
  position: relative;
}
.rating__element-top {
  position: absolute;
  right: -50px;
  top: 10px;
  z-index: none;
}
.rating__card {
  max-width: 1180px;
  width: 100%;
  border-radius: 24px;
  padding: 75px 135px;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: linear-gradient(208.18deg, #6888c8 9.05%, #5a98f2 76.74%);
}
.rating__card-title {
  font-size: 36px;
  color: #ffffff;
}
.rating__card-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.rating__card-content {
  display: flex;
  margin-top: 100px;
}
.rating__card-person {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  font-size: 18px;
  color: #ffffff;
  text-align: left;
}
.rating__card-person-name {
  margin-left: 50px;
  line-height: 48px;
}
.rating__card-person-name h4 {
  font-size: 22px;
}
.rating__card-person-name p {
  font-size: 18px;
  font-weight: 400;
}
.rating__card-describing {
  flex-basis: 50%;
  font-size: 22px;
  line-height: 55px;
  font-weight: 500;
  font-family: "Roboto";
  text-align: left;
  padding-left: 20px;
  color: #ffffff;
}
.rating__element-bottom {
  position: absolute;
  left: 30px;
  bottom: 270px;
  z-index: none;
}
.rating__control {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.rating__control-icon {
  color: #458ff6;
  opacity: 0.5;
  font-size: 40px;
}
.rating__control-icon:hover {
  opacity: 1;
}
.rating__control-list {
  display: flex;
}
.rating__control-item a {
  width: 16px;
  height: 16px;
  background: #458ff6;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 20px;
  display: block;
}
.rating__control-item a:hover {
  opacity: 1;
}
.rating__control-item:first-child {
  margin-left: 96px;
}
.rating__control-item:last-child {
  margin-right: 96px;
}
.rating #element-focus {
  opacity: 1;
}

/*# sourceMappingURL=app.css.map */
