* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

html ::selection,
body ::selection {
  background: #deeefe;
}

.btn {
  font-weight: 600;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}
.btn--on-top {
  cursor: pointer;
  border: none;
  position: fixed;
  bottom: 500px;
  right: 150px;
  font-size: 2em;
  color: rgba(103, 195, 243, 0.65);
  background: none;
}
.btn--primary {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: solid 2px #5279a9;
  background: #ffffff;
  font-size: 0.9em;
  color: #5279a9;
}
.btn--secondary {
  width: 200px;
  height: 70px;
  border-radius: 55px;
  border: none;
  background: #5279a9;
  font-size: 0.95em;
  color: #ffffff;
}

.saviour-care-logo {
  display: flex;
  align-items: center;
}
.saviour-care-logo__ellipse {
  width: 41px;
  height: 41px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.saviour-care-logo__ellipse--background-primary {
  background: #deeefe;
}
.saviour-care-logo__ellipse--background-white {
  background: #ffffff;
}
.saviour-care-logo__ellipse img {
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.saviour-care-logo__name {
  font-size: 1.2em;
  text-transform: capitalize;
  margin-left: 10px;
}
.saviour-care-logo__name--header-theme {
  color: #462e6a;
}
.saviour-care-logo__name--footer-theme {
  color: #ffffff;
}

.header {
  height: 120px;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
}
.header__content {
  max-width: 1400px;
  width: 100%;
  padding: 0 85px 0 85px;
}
.header__nav {
  margin-right: -20px;
}
.header__nav-list-items {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__nav-item {
  color: #1f1534;
  font-weight: 700;
  font-size: 0.8em;
  margin: 0 20px;
  opacity: 0.5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__nav-item:hover {
  color: #2e4e92;
  border-bottom: solid 2px #2e4e92;
  opacity: 1;
}
.header__menu {
  display: none;
}

.footer__background {
  background: linear-gradient(208.18deg, #6888c8 9.05%, #5a98f2 76.74%);
  background-repeat: no-repeat;
  background-position: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.footer__content {
  max-width: 1400px;
  width: 100%;
  padding: 110px 60px 90px 60px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.footer__links {
  display: flex;
  justify-content: space-between;
}
.footer__trademark {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  color: #ffffff;
  height: 200px;
}
.footer__trademark-describing {
  font-size: 0.9em;
  font-family: "Roboto";
  margin-top: 20px;
  line-height: 27px;
}
.footer__trademark-bottom {
  font-weight: 200;
}
.footer__category {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer__category-title {
  font-size: 1em;
  margin-bottom: 30px;
  color: #ffffff;
}
.footer__category-items {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.footer__category-item {
  transition: all 200ms ease-out;
}
.footer__category-item a {
  font-weight: 300;
  color: #ffffff;
}
.footer__category-item:hover {
  transform: translateX(10px);
}
.footer__element-top {
  position: absolute;
  right: 0;
  top: -70px;
  z-index: -2;
}
.footer__element-bottom {
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: none;
}

.introduce__content {
  max-width: 1400px;
  width: 100%;
  padding: 220px 20px 100px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  column-gap: 20px;
}
.introduce__text-title {
  font-size: 2.4em;
  color: #3c567b;
  margin-bottom: 40px;
}
.introduce__text-describing {
  font-size: 19px;
  color: #173457;
  font-weight: 700;
  margin-bottom: 135px;
}
.introduce__img {
  padding-top: 35%;
  position: relative;
}
.introduce__img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.our-services {
  position: relative;
}
.our-services::before {
  content: "";
  background-image: url("./assets/images/our-services/backgound-our-services.webp");
  background-repeat: no-repeat;
  background-position: center left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.our-services__content {
  max-width: 1400px;
  width: 100%;
  padding: 100px 140px;
  text-align: center;
}
.our-services__top {
  max-width: 952px;
  padding: 0 55px;
  margin: auto;
}
.our-services__top-title {
  font-size: 2.45em;
  color: #462e6a;
}
.our-services__top-title::after {
  content: "";
  width: 56px;
  height: 2px;
  display: block;
  margin: auto;
  background: #000000;
  margin-top: 35px;
  margin-bottom: 35px;
}
.our-services__top-describing {
  font-size: 0.95em;
  color: #ccd2e9;
  font-weight: 600;
}
.our-services__list-card {
  display: flex;
  justify-content: center;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 34px;
  margin-top: 86px;
}
.our-services__card {
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  z-index: 2;
}
.our-services__icon {
  height: 100px;
  margin-bottom: 30px;
}
.our-services__img-icon {
  position: relative;
  width: 100px;
  margin: auto;
  padding-top: 100px;
}
.our-services__img-icon img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.our-services__describing-title {
  font-size: 1em;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 700;
}
.our-services__describing-content {
  color: #7d7987;
}
.our-services__btn {
  margin-top: 70px;
}
.our-services__element {
  position: absolute;
  right: -50px;
  top: 40%;
  z-index: 1;
}

.information {
  position: relative;
}
.information::before {
  content: "";
  background-image: url("./assets/images/information/background-information.webp");
  background-repeat: no-repeat;
  background-position: 100% 60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.information__content {
  max-width: 1400px;
  width: 100%;
  padding: 0 120px 0 20px;
}
.information__img {
  position: relative;
  padding-top: 40%;
}
.information__img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.information__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.information__category {
  padding-left: 130px;
}
.information__category-title {
  font-size: 1.8em;
  color: #462e6a;
}
.information__category-title::after {
  content: "";
  width: 56px;
  height: 2px;
  display: block;
  background: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}
.information__category-describing {
  font-size: 0.9em;
  color: #7d7987;
  margin-bottom: 40px;
}
.information__category-btn i {
  font-size: 15px;
  margin-left: 10px;
}
.information__img-mobile-app {
  mix-blend-mode: darken;
}
.information__first-category {
  margin: 100px 0 200px 0;
}
.information__last-category {
  margin: 300px 0 135px 0;
}
.information-element {
  position: absolute;
  right: 0;
  top: 550px;
  z-index: none;
}

.rating__content {
  max-width: 1400px;
  width: 100%;
  padding: 135px 60px 150px 60px;
  position: relative;
}
.rating__element-top {
  position: absolute;
  right: -50px;
  top: 10px;
  z-index: none;
}
.rating__card {
  max-width: 1180px;
  width: 100%;
  border-radius: 24px;
  padding: 75px 135px;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: linear-gradient(208.18deg, #6888c8 9.05%, #5a98f2 76.74%);
}
.rating__card-title {
  font-size: 1.8em;
  color: #ffffff;
}
.rating__card-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.rating__card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
}
.rating__card-person {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #ffffff;
  text-align: left;
}
.rating__card-person-img {
  width: 115px;
  height: 115px;
  position: relative;
}
.rating__card-person-img img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rating__card-person-name {
  margin-left: 50px;
  line-height: 48px;
}
.rating__card-person-name h4 {
  font-size: 1.1em;
}
.rating__card-person-name p {
  font-size: 0.9em;
  font-weight: 400;
}
.rating__card-describing {
  font-size: 1.1em;
  line-height: 2.5;
  font-weight: 500;
  font-family: "Roboto";
  text-align: left;
  padding-left: 20px;
  color: #ffffff;
}
.rating__element-bottom {
  position: absolute;
  left: 30px;
  bottom: 270px;
  z-index: none;
}
.rating__control {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.rating__control-icon {
  color: #458ff6;
  opacity: 0.3;
  font-size: 28px;
}
.rating__control-icon:hover {
  opacity: 1;
}
.rating__control-list {
  display: flex;
}
.rating__control-item a {
  width: 11px;
  height: 11px;
  background: #458ff6;
  opacity: 0.3;
  border-radius: 50%;
  margin: 0 20px;
  display: block;
}
.rating__control-item a:hover {
  opacity: 1;
}
.rating__control-item:first-child {
  margin-left: 96px;
}
.rating__control-item:last-child {
  margin-right: 96px;
}
.rating #element-focus {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .saviour-care-logo__ellipse {
    width: 31px;
    height: 31px;
  }
}
@media only screen and (max-width: 767px) {
  .saviour-care-logo__name {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .btn--secondary {
    max-height: 60px;
    width: 50%;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 767px) {
  .btn--secondary {
    max-height: 50px;
    width: 100%;
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .btn--primary {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .btn--primary {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: 60px;
    background-color: #3a5080;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header__content {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .header__content {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header__nav {
    margin-right: -10px;
  }
  .header__nav-item {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 767px) {
  .header__nav {
    position: absolute;
    top: 60px;
    right: -70%;
    width: 70%;
    height: 100vh;
    margin: 0;
    background-color: #bed7f0;
    transition: all 1s ease-in-out;
  }
  .header__nav-list-items {
    margin-top: 20px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .header__nav-show {
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .header__menu {
    display: block;
  }
  .header__menu button {
    width: 30px;
    height: 30px;
    background: none;
    outline: none;
    border: none;
  }
  .header__menu i {
    font-size: 30px;
    color: #ffffff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .introduce__content {
    padding: 110px 20px 50px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .introduce__content {
    padding: 110px 20px 50px 20px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .introduce__text {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .introduce__text-title {
    margin-bottom: 20px;
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 767px) {
  .introduce__text-title {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .introduce__text-describing {
    margin-bottom: 80px;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 767px) {
  .introduce__text-describing {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .our-services__content {
    padding: 60px 80px;
  }
}
@media only screen and (max-width: 767px) {
  .our-services__content {
    padding: 60px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .our-services__top-title {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .our-services__top-describing {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .our-services__list-card {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .information__content {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .information__content {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .information__item {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .information__item {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .information__img {
    padding-top: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .information__img {
    padding-top: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .information__category {
    padding-left: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }
  .information__category-title {
    position: relative;
    margin-bottom: 40px;
  }
  .information__category-title::after {
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin: 0;
    transform: translate(-50%);
  }
}
@media only screen and (max-width: 767px) {
  .information__category {
    padding-left: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }
  .information__category-title {
    position: relative;
    margin-bottom: 40px;
  }
  .information__category-title::after {
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin: 0;
    transform: translate(-50%);
  }
}
@media only screen and (max-width: 767px) {
  .information__first-category {
    margin: 50px 0 100px 0;
  }
}
@media only screen and (max-width: 767px) {
  .information__last-category {
    margin: 150px 0 70px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__content {
    padding: 100px 40px 110px 40px;
  }
}
@media only screen and (max-width: 767px) {
  .rating__content {
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__card {
    padding: 50px 100px;
  }
}
@media only screen and (max-width: 767px) {
  .rating__card {
    padding: 30px 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__card-content {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .rating__card-content {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .rating__card-title {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__card-describing {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 767px) {
  .rating__card-describing {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__card-person {
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .rating__card-person {
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__card-person-img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .rating__card-person-img {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__card-describing {
    text-align: center;
    padding: 0;
    line-height: 2;
  }
}
@media only screen and (max-width: 767px) {
  .rating__card-describing {
    text-align: center;
    padding: 0;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__control {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .rating__control {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .rating__control-directional {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .rating__control-directional {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__content {
    padding-left: 40px;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__content {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .footer__trademark {
    margin-bottom: 30px;
    justify-content: flex-start;
    height: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .footer__trademark-describing {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__trademark-bottom {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 767px) {
  .footer__trademark-bottom {
    font-size: 0.9em;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer__trademark-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__category-item a {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 767px) {
  .footer__category-item a {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=app.css.map */
