* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #5B9BF3;
    --color-heading-header: #3C567B;
    --color-heading-text: #462E6A;
    --color-header-hover: #2E4E92;
    --color-button: #458FF6;
    --color-content: #7D7987;
    --color-footer: #FFFFFF;
}

html {
    font-size: 62.5%;
    height: 10000px;
}

body {
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* START - HEADER */
.header-container {
    display: flex;
    justify-content: center;
    height: 12rem;
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
    right: 0;
    background: var(--color-footer);
    /* box-shadow: 0px 0px 5px var(--color-content); */
}

.header {
    max-width: 1230px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    /* logo */
.logo {
    display: flex;
    align-items: center;
}
.ellipse {
    background-image: url("./assets/icons/ellipse.png");
    background-repeat: no-repeat;
    width: 4.1rem;
    height: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ellipse img {
    width: 3rem;
    height: 2.7rem;
}
.name-logo {
    font-size: 2.4rem;
    text-transform: capitalize;
    margin-left: 1rem;
    color: var(--color-heading-text)
}
    /* nav */
.nav {
    margin-right: -2.5rem;
}

.nav ul {
    height: 100%;;
    display: flex;
    align-items: center;
}

.nav li {
    padding-right: 2.5rem;
}

.nav a {
    color: var(--color-content);
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav li:hover a {
    color: var(--color-header-hover);
    border-bottom: solid 2px var(--color-header-hover);
}
/* END - HEADER */

/* START - INTRODUCE */
.introduce-container {
    padding-top: 22rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
}
.introduce {
    max-width: 140rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text h2 {
    font-size: 4.8rem;
    color: var(--color-heading-header);
    margin-bottom: 4rem;
}

.text p {
    font-size: 1.9rem;
    color: #93C1F9;
    font-weight: 600;
    margin-bottom: 13.5rem;
}

.text button {
    width: 20rem;
    height: 7rem;
    color: var(--color-footer);
    background: var(--color-button);
    border: none;
    border-radius: 5.5rem;
    font-size: 1.9rem;
    font-weight: 600;
}
.text button:hover {
    cursor: pointer;
}
.introduce > img {
    max-width: 77rem;
    max-height: 55.5rem;
    object-fit: contain;
}
/* END - INTRODUCE */
