.footer {
  background-image: linear-gradient(
    208.18deg,
    $color-background-linear-first 9.05%,
    $color-background-linear-last 76.74%
  );
  position: relative;
  &__content {
    @include content(110px 60px 90px 60px);
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  &__links {
    display: flex;
    justify-content: space-between;
  }
  &__trademark {
    @include flex-space-between;
    @include flex-column;
    max-width: 400px;
    color: $color-white;
    height: 200px;
    &-describing {
      font-size: 0.9em;
      font-family: 'Roboto';
      margin-top: 20px;
      line-height: 27px;
    }
    &-bottom {
      font-weight: 200;
    }
  }
  &__category {
    @include flex-column;
    flex: 1;
    &-title {
      font-size: 1em;
      margin-bottom: 30px;
      color: $color-white;
    }
    &-items {
      @include flex-column;
      @include flex-space-between;
      flex: 1;
    }
    &-item {
      transition: all 200ms ease-out;
      a {
        font-weight: 300;
        color: $color-white;
      }
      &:hover {
        transform: translateX(10px);
      }
    }
  }
  &__element-top {
    @include element('tr', 0, -70px, -2);
  }
  &__element-bottom {
    @include element('bl', 5px, 5px, none);
  }
}
