.header {
  height: 120px;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: $color-white;
  &__content {
    @include content($max-width, 0 85px 0 85px);
  }
  &__nav {
    margin-right: -20px;
    &-list-items {
      height: 100%;
      @include flex-center-y;
    }
    &-item {
      color: $color-header-nav;
      font-weight: 700;
      margin: 0 20px;
      opacity: 0.5;
      padding-top: 20px;
      padding-bottom: 20px;
      &:hover {
        color: $color-header-hover;
        border-bottom: solid 2px $color-header-hover;
        opacity: 1;
      }
    }
  }
  &__menu {
    display: none;
  }
}
