.saviour-care-logo {
  display: flex;
  align-items: center;
  &__ellipse {
    width: 41px;
    height: 41px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &--background-primary {
      background: $color-primary;
    }
    &--background-white {
      background: $color-white;
    }
    img {
      max-width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      image-rendering: pixelated;
    }
  }
  &__name {
    font-size: 1.2em;
    text-transform: capitalize;
    margin-left: 10px;
    &--header-theme {
      color: $color-title-slate-blue;
    }
    &--footer-theme {
      color: $color-white;
    }
  }
}
