.btn {
  font-weight: 600;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  &--on-top {
    cursor: pointer;
    border: none;
    position: fixed;
    bottom: 500px;
    right: 150px;
    font-size: 2em;
    color: rgba(103, 195, 243, 0.65);
    background: none;
  }
  &--primary {
    @include btn--theme(
      200px,
      60px,
      55px,
      solid 2px $color-button,
      $color-white,
      0.9em,
      $color-button
    );
  }
  &--secondary {
    @include btn--theme(
      200px,
      70px,
      55px,
      none,
      $color-button,
      0.95em,
      $color-white
    );
  }
}
