.container {
  @include flex-center-x;
  position: relative;
  max-width: $max-width;
  margin: auto;
  height: 100%;
}

.inner {
  @include flex-space-between;
  @include flex-center-y;
  width: 100%;
  height: 100%;
}

.row {
  @include flex-space-between;
  @include flex-center-y;
}

html,
body {
  ::selection {
    background: $color-primary;
  }
}
