.container {
  @include flex-center-x;
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  @include flex-space-between;
  @include flex-center-y;
  width: 100%;
  height: 100%;
}

.row {
  @include flex-space-between;
  @include flex-center-y;
  &--margin-t100-b200 {
    margin: 100px 0 200px 0;
  }
  &--margin-t300-b135 {
    margin: 300px 0 135px 0;
  }
}

html,
body {
  ::selection {
    background: $color-primary;
  }
}
