//color
$color-primary: #deeefe;
$color-header-nav: #1f1534;
$color-white: #ffffff;
$color-header-hover: #2e4e92;
$color-title-slate-blue: #462e6a;
$color-button: #458ff6;
$color-background-linear-first: #6888c8;
$color-background-linear-last: #5a98f2;
$color-title-sky-blue: #3c567b;
$color-content-introduce: #93c1f9;
$color-black: #000000;
$color-text-content: #7d7987;

//max width of content
$max-width: 1400px;
