//color
$color-primary: #DEEEFE;
$color-header-nav: #1F1534;
$color-white: #FFFFFF;
$color-header-hover: #2E4E92;
$color-title-slate-blue: #462E6A;
$color-button: #458FF6;
$color-background-linear-first: #6888C8;
$color-background-linear-last: #5A98F2;
$color-title-sky-blue: #3C567B;
$color-content-introduce:#93C1F9;

//max width of content
$max-width: 1400px;