include ../constants/nav.pug

header.header
  .container
    .header__content
      .inner
        a.saviour-care-logo(href='#')
          .saviour-care-logo__ellipse.saviour-care-logo__ellipse--background-primary
            img(src='./assets/icons/logo/logo-shapes.webp', alt='LOGO')
          h5.saviour-care-logo__name.saviour-care-logo__name--header-theme saviour care
        nav.header__nav.header__nav-show
          ul.header__nav-list-items
            each item in navItems
              li
                a.header__nav-item(href=item.url)= item.name
        .header__menu
          button
            i.fa-solid.fa-bars
