section.introduce 
  |
  .container 
    |
    .introduce__content 
      |
      .inner
        .introduce__text
          h2.introduce__text-title Virtual healthcare Saviour for you
          p.introduce__text-describing Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          button.btn.btn--secondary Consult today
        img(src='../assets/images/introduce/doctor-img.png', alt='doctor')
