mixin card(img, title, content)
    .our-services__card
        .our-services__icon
            img(src= img alt="search")
        .our-services__describing
            .our-services__describing-title= title 
            .our-services__describing-content= content
