section.our-services 
    .container 
        .our-services__background
        .our-services__content
            .our-services__top
                h2.our-services__top-title Services we Offer
                p.our-services__top-describing Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            .our-services__list-card
                +card("../assets/icons/our-services/search-icon.png", "Search doctor", "Choose your doctor from thousands of specialist, general, and trusted hospitals")
                +card("../assets/icons/our-services/online-pharmacy-icon.png", "Online pharmacy", "Buy  your medicines with our mobile application with a simple delivery system")
                +card("../assets/icons/our-services/consultation-icon.png", "Consultation", "Free consultation with our trusted doctors and get the best recomendations")
                +card("../assets/icons/our-services/details-info-icon.png", "Details info", "Free consultation with our trusted doctors and get the best recomendations")
                +card("../assets/icons/our-services/emergency-care-icon.png", "Emergency care", "You can get 24/7 urgent care for yourself or your children and you lovely family")
                +card("../assets/icons/our-services/tracking-icon.png", "Tracking", "Track and save your medical history and health data")
                img(class="our-services__element" src="../assets/images/element/element-1.png" alt="")
            .our-services__btn
                button(class="btn btn--primary") Learn more