-
  var items = [{'imgDefault':'./assets/icons/our-services/search-icon.webp','img':'./assets/icons/our-services/search-icon.png', 'title': 'Search doctor', 'content': 'Choose your doctor from thousands of specialist, general, and trusted hospitals'},
              {'imgDefault':'./assets/icons/our-services/online-pharmacy-icon.webp','img':'./assets/icons/our-services/online-pharmacy-icon.png', 'title': 'Online pharmacy', 'content': 'Buy your medicines with our mobile application with a simple delivery system'},     
              {'imgDefault':'./assets/icons/our-services/consultation-icon.webp','img':'./assets/icons/our-services/consultation-icon.png', 'title': 'Consultation', 'content': 'Free consultation with our trusted doctors and get the best recomendations'},
              {'imgDefault':'./assets/icons/our-services/details-info-icon.webp','img':'./assets/icons/our-services/details-info-icon.png', 'title': 'Details info', 'content': 'Buy your medicines with our mobile application with a simple delivery system'},
              {'imgDefault':'./assets/icons/our-services/emergency-care-icon.webp','img':'./assets/icons/our-services/emergency-care-icon.png', 'title': 'Emergency care', 'content': 'You can get 24/7 urgent care for yourself or your children and you lovely family'},
              {'imgDefault':'./assets/icons/our-services/tracking-icon.webp','img':'./assets/icons/our-services/tracking-icon.png', 'title': 'Tracking', 'content': 'Track and save your medical history and health datam'}
  ]         