- 
    var items = [{'title':'Company','items':[{'url':'#', 'name':'About'}, {'url':'#', 'name':'Testimonials'}, {'url':'#', 'name':'Find a doctor'}, {'url':'#', 'name':'Apps'}]},
                {'title':'Region','items':[{'url':'#', 'name':'Link'}, {'url':'#', 'name':'Link'}, {'url':'#', 'name':'Link'}, {'url':'#', 'name':'Link'}]},
                {'title':'Help','items':[{'url':'#', 'name':'Help center'}, {'url':'#', 'name':'Contact support'}, {'url':'#', 'name':'Find a doctor'}, {'url':'#', 'name':'How it works'}]}
    ]