@import "variables";
@import "mixins";

.footer {
    &__background {
        @include background (linear-gradient(208.18deg, $color-background-linear-first 9.05%, $color-background-linear-last 76.74%),none,none);
    }
    &__content {
        @include flex-space-between;
        @include content($max-width,110px 60px 90px 60px);
        position: relative;
        &-trademark {
            @include flex-space-between;
            @include flex-colums;
            max-width: 400px;
            color: $color-white;
            height: 200px;
        }
        .trademark {
            &-top__describing {
                font-size: 18px;
                font-family: 'Roboto';
                margin-top: 20px;
                line-height: 27px;
            }
            &-bottom {
                font-weight: 200;
            }
        }
    }
    .footer-category {
        @include flex-colums;
        &__title {
            font-size: 20px;
            margin-bottom: 30px;
            color: $color-white;
        }
        &__items {
            @include flex-colums;
            @include flex-space-between;
            flex: 1;
            &-item {
                a {
                    font-weight: 300;
                    color: $color-white;
                }
                &:hover {
                    animation: move-right-10 0.2s linear;
                    transform: translateX(10px);
                }
            }
        }
    }
    &__element-top {
        @include element('tr',0,-70px,-2)
    }
    &__element-bottom {
        @include element('bl',5px,5px,none)
    }
    &__btn-on-top {
        cursor: pointer;
        border: none;
        position: fixed;
        bottom: 500px;
        right: 150px;
        font-size: 40px;
        color: rgba(103, 195, 243, 0.65);
        background: none;
    }
}

//animation of link in footer
@keyframes move-right-10 {
    0% { 
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}