//color
$color-primary: #DEEEFE;
$color-header-nav: #1F1534;
$color-title-sky-blue: #3C567B;
$color-title-slate-blue: #462E6A;
$color-header-hover: #2E4E92;
$color-button: #458FF6;
$color-text-content: #7D7987;
$color-white: #FFFFFF;
$color-shadow: #f5f6fb;
$color-black: #000000;
$color-background-linear-first: #6888C8;
$color-background-linear-last: #5A98F2;
$color-blue: #458FF6;

//distance and number of columns in display flex
$spacing: 34px;
$columns: 3;

//max width of content
$max-width: 1400px;
